* {
  box-sizing: border-box;
}

body {
    font-family: 'Pretendard', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.navbar h1 {
    color: #333;
    font-size: 30px;
    margin: 0px;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.navbar img {
    height: 40px;
    width: auto;
    object-fit: contain;
    display: block;
    margin-top: 15pt;
}

.logo-title {
    display: flex;
    gap: 5pt;
    transform:translateX(-15px);
}

.site-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 70px;
    color: #333;
    
}

.row {
     display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.input-column,
.output-column {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.language-selection {
     position: static;
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.language-selection select {
    padding: 8px;
    border-radius: 8px;
    border: 2px solid #ddd;
    font-size: 16px;
}

.icon {
    font-size: 18px;
}

#sourceLang, #targetLang {
    padding: 5px 10px;
    font-size: 16px;
}


textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    height: auto;
    resize: vertical;
    line-height: 1.5;
    min-height: 250px;
    flex: 1;
    
}

#translatedText {
    padding: 15px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 18px;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.5;
    min-height: 250px;
    flex: 1;
}

.copy-btn {
    align-self: flex-start; /* 왼쪽 정렬로 변경 */
    margin-top: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #555;
    transform: translateY(0);
}

.copy-btn:hover {
    color: #000;
}

.input-copy-btn {
    transform: translateY(-48px);
}

.output-copy-btn {
    transform: translateY(0);
}

button#translateButton {
    display: block;
    margin: 30px auto;
    padding: 12px 20px;
    background-color: #4470e7;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    width: 30%;
    margin-top: 30px;
}

button#translateButton:hover {
    background-color: #4c7cff;
    transform: translateY(-2px);
}

.button-container {
    margin-top: 10px;
}

#charCount {
    margin-top: 8px;
    font-size: 14px;
    color: #666;
    text-align: right;
}